<%- include('partials/header2') %>
<div class="jumbotron text-center">
  <div class="container">
    <h1 class="display-3">Game Reviews for Match</h1>
    <% for (let i = 0; i < gameData.length; i++) { %>
      <p>
        User: <%= gameData[i].email %> 
        gave the match a rating: <%= gameData[i].rating %> 
        and also commented: <%= gameData[i].comments %>
      </p>
    <% } %>
    <a class="btn btn-dark btn-lg" href="/submitgamereview" role="button">Submit a Review</a>
  </div>
</div>
  </div>
</div>