<%- include('partials/header2') %>
<div class="jumbotron text-center">
  <div class="container">
    <h1 class="display-3">Game Reviews for Match </h1>
    <h2> There are no reviews yet for this match.</h2>
    <a class="btn btn-dark btn-lg" href="/submitgamereview" role="button">Submit a Review</a>
  </div>
</div>