<%- include('partials/header2') %>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Position</th>
            <th scope="col">Logo</th>
            <th scope="col">Club</th>
            <th scope="col">GP</th>
            <th scope="col">Won</th>
            <th scope="col">Lost</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td><img src="assets\real.png" alt="Real Madrid Logo" width="45" height="30"></td>
            <td>Real Madrid</td>
            <td>11</td>
            <td>10</td>
            <td>1</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td><img src="assets\FC_Barcelona_(crest).png" alt="Barcelona Logo" width="30" height="30"></td>
            <td>FC Barcelona</td>
            <td>11</td>
            <td>9</td>
            <td>2</td>
        </tr>
       
       
        <tr>
            <th scope="row">3</th>
            <td><img src="assets\AS_Monaco_Basket_Logo.png" alt="Real Madrid Logo" width="30" height="30"></td>
            <td>AS Monaco</td>
            <td>11</td>
            <td>7</td>
            <td>4</td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td><img src="assets\Virtus_Bologna_logo.png" alt="Real Madrid Logo" width="30" height="30"></td>
            <td>Virtus Segafredo Bologna</td>
            <td>11</td>
            <td>7</td>
            <td>4</td>
        </tr>
        <tr>
            <th scope="row">5</th>
            <td><img src="assets\Panathinaikos_BC_logo.png" alt="Real Madrid Logo" width="30" height="30"></td>
            <td>Panathinaikos AKTOR Athens</td>
            <td>11</td>
            <td>6</td>
            <td>5</td>
        </tr>
        <tr>
            <th scope="row">6</th>
            <td><img src="assets\Olympiacos_BasketBall.png" alt="Real Madrid Logo" width="30" height="30"></td>
            <td>Olympiacos Piraeus</td>
            <td>11</td>
            <td>6</td>
            <td>5</td>
        </tr>
        <tr>
            <th scope="row">7</th>
            <td><img src="assets\Saski_Baskonia.png" alt="Real Madrid Logo" width="30" height="30"></td>
            <td>Baskonia Vitoria-Gasteiz</td>
            <td>11</td>
            <td>6</td>
            <td>5</td>
        </tr>
        <tr>
            <th scope="row">8</th>
            <td><img src="assets\Fenerbahçe_Men's_Basketball_logo.png" alt="Real Madrid Logo" width="30" height="30"></td>
            <td>Fenerbahce Beko Istanbul</td>
            <td>11</td>
            <td>6</td>
            <td>5</td>
        </tr>
        <tr>
            <th scope="row">9</th>
            <td><img src="assets\Maccabi_Tel_Aviv_BC_logo.png" alt="Real Madrid Logo" width="30" height="30"></td>
            <td>Maccabi Playtika Tel Aviv</td>
            <td>11</td>
            <td>6</td>
            <td>5</td>
        </tr>
        <tr>
            <th scope="row">10</th>
            <td><img src="assets\Partizan_Basketball_Club-logo.png" alt="Real Madrid Logo" width="30" height="30"></td>
            <td>Partizan Mozzart Bet Belgrade</td>
            <td>11</td>
            <td>5</td>
            <td>6</td>
        </tr>
        <tr>
            <th scope="row">11</th>
            <td><img src="assets\BC_Žalgiris_Logo.png" alt="Real Madrid Logo" width="30" height="30"></td>
            <td>Zalgiris Kaunas</td>
            <td>11</td>
            <td>5</td>
            <td>6</td>
        </tr>
        <tr>
            <th scope="row">12</th>
            <td><img src="assets\Logo_FC_Bayern_München_Basketball_ab_2022.png" alt="Real Madrid Logo" width="30" height="30"></td>
            <td>FC Bayern Munich</td>
            <td>11</td>
            <td>5</td>
            <td>6</td>
        </tr>
        <tr>
            <th scope="row">13</th>
            <td><img src="assets\valencia.png" alt="Real Madrid Logo" width="30" height="30"></td>
            <td>Valencia Basket</td>
            <td>11</td>
            <td>5</td>
            <td>6</td>
        </tr>
        <tr>
            <th scope="row">14</th>
            <td><img src="assets\Anadolu_Efes_SK_logo.png" alt="Real Madrid Logo" width="30" height="30"></td>
            <td>Anadolu Efes Istanbul</td>
            <td>11</td>
            <td>5</td>
            <td>6</td>
        </tr>
        <tr>
            <th scope="row">15</th>
            <td><img src="assets\milano.png" alt="Real Madrid Logo" width="30" height="30"></td>
            <td>EA7 Emporio Armani Milan</td>
            <td>11</td>
            <td>4</td>
            <td>7</td>
        </tr>
        <tr>
            <th scope="row">16</th>
            <td><img src="assets\KK_Crvena_Zvezda_(logo).png" alt="Real Madrid Logo" width="30" height="30"></td>
            <td>Crvena Zvezda Meridianbet Belgrade</td>
            <td>11</td>
            <td>4</td>
            <td>7</td>
        </tr>
        <tr>
            <th scope="row">17</th>
            <td><img src="assets\asvel.png" alt="Real Madrid Logo" width="30" height="30"></td>
            <td>LDLC ASVEL Villeurbanne</td>
            <td>11</td>
            <td>2</td>
            <td>9</td>
        </tr>
        <tr>
            <th scope="row">18</th>
            <td><img src="assets\Alba_Berlin_logo.png" alt="Real Madrid Logo" width="30" height="30"></td>
            <td>ALBA Berlin</td>
            <td>11</td>
            <td>1</td>
            <td>10</td>
        </tr>
    </tbody>
</table>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</body>

</html>