<%- include('partials/header2') %> 


<div class="container px-4 py-5" id="euroleague-teams">
    <h2 class="pb-2 border-bottom">Euroleague Teams</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">

        <!-- Team 1 -->
        <div class="feature col">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center text-white bg-gradient fs-2 mb-3">
                <img src="assets\real.png" alt="Real Madrid Logo" width="50">
            </div>
            <h3 class="fs-2 text-body-emphasis">Real Madrid</h3>
            <p></p>
            <form action="/roster" method="post">
                <input type="hidden" name="teamName" value="Real Madrid">
                <button type="submit" class="btn btn-dark btn-lg">Go to roster</button>
            </form>
        </div>

        <!-- Team 2 -->
        <div class="feature col">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center text-white bg-gradient fs-2 mb-3">
                <img src="assets\FC_Barcelona_(crest).png" alt="FC Barcelona Logo" width="50">
            </div>
            <h3 class="fs-2 text-body-emphasis">FC Barcelona</h3>
            <p></p>
            <form action="/roster" method="post">
                <input type="hidden" name="teamName" value="FC Barcelona">
                <button type="submit" class="btn btn-dark btn-lg">Go to roster</button>
            </form>
        </div>

        <!-- Team 3 -->
        <div class="feature col">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center text-white bg-gradient fs-2 mb-3">
                <img src="assets\AS_Monaco_Basket_Logo.png" alt="AS Monaco Logo" width="50">
            </div>
            <h3 class="fs-2 text-body-emphasis">AS Monaco</h3>
            <p></p>
            <form action="/roster" method="post">
                <input type="hidden" name="teamName" value="AS Monaco">
                <button type="submit" class="btn btn-dark btn-lg">Go to roster</button>
            </form>
        </div>

        <!-- Continue this structure for the rest of the teams -->

        <!-- Team 4 -->
        <div class="feature col">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center text-white bg-gradient fs-2 mb-3">
                <img src="assets\Virtus_Bologna_logo.png" alt="Virtus Segafredo Bologna Logo" width="50">
            </div>
            <h3 class="fs-2 text-body-emphasis">Virtus Segafredo Bologna</h3>
            <p></p>
            <form action="/roster" method="post">
                <input type="hidden" name="teamName" value="Virtus Segafredo Bologna">
                <button type="submit" class="btn btn-dark btn-lg">Go to roster</button>
            </form>
        </div>

        <!-- Continue this structure for the remaining teams -->

        <!-- Team 5 -->
        <div class="feature col">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center text-white bg-gradient fs-2 mb-3">
                <img src="assets\Panathinaikos_BC_logo.png" alt="Panathinaikos AKTOR Athens Logo" width="50">
            </div>
            <h3 class="fs-2 text-body-emphasis">Panathinaikos AKTOR Athens</h3>
            <p></p>
            <form action="/roster" method="post">
                <input type="hidden" name="teamName" value="Panathinaikos AKTOR Athens">
                <button type="submit" class="btn btn-dark btn-lg">Go to roster</button>
            </form>
        </div>

        <!-- Team 6 -->
        <div class="feature col">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center text-white bg-gradient fs-2 mb-3">
                <img src="assets\Olympiacos_BasketBall.png" alt="Olympiacos Piraeus Logo" width="50">
            </div>
            <h3 class="fs-2 text-body-emphasis">Olympiacos Piraeus</h3>
            <p></p>
            <form action="/roster" method="post">
                <input type="hidden" name="teamName" value="Olympiacos Piraeus">
                <button type="submit" class="btn btn-dark btn-lg">Go to roster</button>
            </form>
        </div>

        <!-- Continue this structure for the remaining teams -->

        <!-- Team 7 -->
        <div class="feature col">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center text-white bg-gradient fs-2 mb-3">
                <img src="assets\Saski_Baskonia.png" alt="Baskonia Vitoria-Gasteiz Logo" width="50">
            </div>
            <h3 class="fs-2 text-body-emphasis">Baskonia Vitoria-Gasteiz</h3>
            <p></p>
            <form action="/roster" method="post">
                <input type="hidden" name="teamName" value="Baskonia Vitoria-Gasteiz">
                <button type="submit" class="btn btn-dark btn-lg">Go to roster</button>
            </form>
        </div>

        <!-- Continue this structure for the remaining teams -->

        <!-- Team 8 -->
        <div class="feature col">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center text-white bg-gradient fs-2 mb-3">
                <img src="assets\Fenerbahçe_Men's_Basketball_logo.png" alt="Fenerbahce Beko Istanbul Logo" width="50">
            </div>
            <h3 class="fs-2 text-body-emphasis">Fenerbahce Beko Istanbul</h3>
            <p></p>
            <form action="/roster" method="post">
                <input type="hidden" name="teamName" value="Fenerbahce Beko Istanbul">
                <button type="submit" class="btn btn-dark btn-lg">Go to roster</button>
            </form>
        </div>

        <!-- Continue this structure for the remaining teams -->

        <!-- Team 9 -->
        <div class="feature col">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center text-white bg-gradient fs-2 mb-3">
                <img src="assets\Maccabi_Tel_Aviv_BC_logo.png" alt="Maccabi Playtika Tel Aviv Logo" width="50">
            </div>
            <h3 class="fs-2 text-body-emphasis">Maccabi Playtika Tel Aviv</h3>
            <p></p>
            <form action="/roster" method="post">
                <input type="hidden" name="teamName" value="Maccabi Playtika Tel Aviv">
                <button type="submit" class="btn btn-dark btn-lg">Go to roster</button>
            </form>
        </div>

        <!-- Continue this structure for the remaining teams -->

        <!-- Team 10 -->
        <div class="feature col">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center text-white bg-gradient fs-2 mb-3">
                <img src="assets\Partizan_Basketball_Club-logo.png" alt="Partizan Mozzart Bet Belgrade Logo" width="50">
            </div>
            <h3 class="fs-2 text-body-emphasis">Partizan Mozzart Bet Belgrade</h3>
            <p></p>
            <form action="/roster" method="post">
                <input type="hidden" name="teamName" value="Partizan Mozzart Bet Belgrade">
                <button type="submit" class="btn btn-dark btn-lg">Go to roster</button>
            </form>
        </div>

        <!-- Continue this structure for the remaining teams -->

        <!-- Team 11 -->
        <div class="feature col">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center text-white bg-gradient fs-2 mb-3">
                <img src="assets\BC_Žalgiris_Logo.png" alt="Zalgiris Kaunas Logo" width="50">
            </div>
            <h3 class="fs-2 text-body-emphasis">Zalgiris Kaunas</h3>
            <p></p>
            <form action="/roster" method="post">
                <input type="hidden" name="teamName" value="Zalgiris Kaunas">
                <button type="submit" class="btn btn-dark btn-lg">Go to roster</button>
            </form>
        </div>

        <!-- Continue this structure for the remaining teams -->

        <!-- Team 12 -->
        <div class="feature col">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center text-white bg-gradient fs-2 mb-3">
                <img src="assets\Logo_FC_Bayern_München_Basketball_ab_2022.png" alt="FC Bayern Munich Logo" width="50">
            </div>
            <h3 class="fs-2 text-body-emphasis">FC Bayern Munich</h3>
            <p></p>
            <form action="/roster" method="post">
                <input type="hidden" name="teamName" value="FC Bayern Munich">
                <button type="submit" class="btn btn-dark btn-lg">Go to roster</button>
            </form>
        </div>

        <!-- Continue this structure for the remaining teams -->

        <!-- Team 13 -->
        <div class="feature col">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center text-white bg-gradient fs-2 mb-3">
                <img src="assets\valencia.png" alt="Valencia Basket Logo" width="50">
            </div>
            <h3 class="fs-2 text-body-emphasis">Valencia Basket</h3>
            <p></p>
            <form action="/roster" method="post">
                <input type="hidden" name="teamName" value="Valencia Basket">
                <button type="submit" class="btn btn-dark btn-lg">Go to roster</button>
            </form>
        </div>

        <!-- Continue this structure for the remaining teams -->

        <!-- Team 14 -->
        <div class="feature col">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center text-white bg-gradient fs-2 mb-3">
                <img src="assets\Anadolu_Efes_SK_logo.png" alt="Anadolu Efes Istanbul Logo" width="50">
            </div>
            <h3 class="fs-2 text-body-emphasis">Anadolu Efes Istanbul</h3>
            <p></p>
            <form action="/roster" method="post">
                <input type="hidden" name="teamName" value="Anadolu Efes Istanbul">
                <button type="submit" class="btn btn-dark btn-lg">Go to roster</button>
            </form>
        </div>

        <!-- Continue this structure for the remaining teams -->

        <!-- Team 15 -->
        <div class="feature col">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center text-white bg-gradient fs-2 mb-3">
                <img src="assets\milano.png" alt="EA7 Emporio Armani Milan Logo" width="50">
            </div>
            <h3 class="fs-2 text-body-emphasis">EA7 Emporio Armani Milan</h3>
            <p></p>
            <form action="/roster" method="post">
                <input type="hidden" name="teamName" value="EA7 Emporio Armani Milan">
                <button type="submit" class="btn btn-dark btn-lg">Go to roster</button>
            </form>
        </div>

        <!-- Continue this structure for the remaining teams -->

        <!-- Team 16 -->
        <div class="feature col">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center text-white bg-gradient fs-2 mb-3">
                <img src="assets\KK_Crvena_Zvezda_(logo).png" alt="Crvena Zvezda Meridianbet Belgrade Logo" width="50">
            </div>
            <h3 class="fs-2 text-body-emphasis">Crvena Zvezda Meridianbet Belgrade</h3>
            <p></p>
            <form action="/roster" method="post">
                <input type="hidden" name="teamName" value="Crvena Zvezda Meridianbet Belgrade">
                <button type="submit" class="btn btn-dark btn-lg">Go to roster</button>
            </form>
        </div>

        <!-- Continue this structure for the remaining teams -->

        <!-- Team 17 -->
        <div class="feature col">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center text-white bg-gradient fs-2 mb-3">
                <img src="assets\asvel.png" alt="LDLC ASVEL Villeurbanne Logo" width="50">
            </div>
            <h3 class="fs-2 text-body-emphasis">LDLC ASVEL Villeurbanne</h3>
            <p></p>
            <form action="/roster" method="post">
                <input type="hidden" name="teamName" value="LDLC ASVEL Villeurbanne">
                <button type="submit" class="btn btn-dark btn-lg">Go to roster</button>
            </form>
        </div>
        <!-- Continue this structure for the remaining teams -->

       
  

        <!-- Team 18 -->
        <div class="feature col">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center text-white bg-gradient fs-2 mb-3">
                <img src="assets\Alba_Berlin_logo.png" alt="ALBA Berlin Logo" width="50">
            </div>
            <h3 class="fs-2 text-body-emphasis">ALBA Berlin</h3>
            <p></p>
            <form action="/roster" method="post">
                <input type="hidden" name="teamName" value="ALBA Berlin">
                <button type="submit" class="btn btn-dark btn-lg">Go to roster</button>
            </form>
        </div>

    </div>
</div>
</div>
</div>
